<a href="https://colab.research.google.com/github/jumafernandez/clasificacion_correos/blob/main/notebooks/jaiio/00-04-static_features_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Procesamiento de las features adicionales a la Consulta

## Features estáticas a partir de los datos

1. Traigo los datos y los cargo en el dataframe:

In [1]:
from os import path
import pandas as pd

INSTANCIAS = 200
# Técnicas: ss3 - tfidf - lr
TECNICA = 'lr'

# Traigo el archivo desde GitHub
DATASET = f'dataset-{TECNICA}-{INSTANCIAS}.csv'
URL_DESCARGA = f'https://raw.githubusercontent.com/jumafernandez/clasificacion_correos/main/data/50jaiio/consolidados/feature-extraction/{DATASET}'

df = pd.read_csv(URL_DESCARGA)
df['clase'].value_counts()

Reincorporación                        200
Cursadas                               200
Datos Personales                       200
Consulta por Legajo                    200
Problemas con la Clave                 200
Cambio de Comisión                     200
Exámenes                               200
Simultaneidad de Carreras              200
Situación Académica                    200
Requisitos de Ingreso                  200
Boleto Universitario                   200
Consulta sobre Título Universitario    200
Ingreso a la Universidad               200
Consulta por Equivalencias             200
Cambio de Carrera                      200
Pedido de Certificados                 200
Name: clase, dtype: int64

In [2]:
df.columns

Index(['fecha', 'hora', 'apellido_nombre', 'legajo', 'documento', 'carrera',
       'telefono', 'email', 'consulta', 'respuesta', 'score', 'clase'],
      dtype='object')

2. Verifico los datos y borro columnas no pre-procesables:

In [3]:
df.drop(columns=['apellido_nombre', 'respuesta'], inplace=True)
df.head()

        fecha      hora  ...      score                 clase
0  03-05-2018  10:10:21  ...  23.223335  Boleto Universitario
1  03-05-2018  11:48:01  ...  23.223335  Boleto Universitario
2  03-05-2018  11:48:01  ...  23.223335  Boleto Universitario
3  03-05-2018  11:48:01  ...  23.223335  Boleto Universitario
4  03-05-2018  11:44:52  ...  22.983032  Boleto Universitario

[5 rows x 10 columns]

3. Preproceso la fecha (día de la semana, semana del mes, mes y cuatrimestre) de la consulta:

In [4]:
def convierte_fecha(fecha_consulta):
  from datetime import datetime
  # Convierto a fecha
  fecha = datetime.strptime(fecha_consulta, '%m-%d-%Y') 
  return fecha

def dia_semana(fecha):
  # Tomo el día de la semana
  dias_semana = ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo']
  # dia_semana = dias_semana[fecha.weekday()]
  dia_semana = fecha.weekday()
  return dia_semana

def semana_del_mes(fecha):
  # Tomo la semana del mes
  semana_mes = (fecha.day-1)//7+1
  return semana_mes

def mes(fecha):
  # Tomo el mes
  meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
  # mes = meses[fecha.month-1]
  mes = fecha.month
  return mes

def cuatrimestre(fecha):
  # Defino el cuatrimestre
  cuatrimestre = 1
  if (fecha.month>7):
    cuatrimestre = 2
  return cuatrimestre

def anio(fecha):
    anio = fecha.year
    return anio

# convierte_fecha(df.loc[0, 'Fecha'])
fecha = df['fecha'].apply(convierte_fecha)
df['dia_semana'] = fecha.apply(dia_semana)
df['semana_del_mes'] = fecha.apply(semana_del_mes)
df['mes'] = fecha.apply(mes)
df['cuatrimestre'] = fecha.apply(cuatrimestre)
df['anio'] = fecha.apply(anio)

In [5]:
df.drop(columns=['fecha'], inplace=True)
df.head()

       hora  legajo documento  ... mes cuatrimestre  anio
0  10:10:21  155651  35094675  ...   3            1  2018
1  11:48:01  128969  27479473  ...   3            1  2018
2  11:48:01  128969  27479473  ...   3            1  2018
3  11:48:01  128969  27479473  ...   3            1  2018
4  11:44:52  161669  42092717  ...   3            1  2018

[5 rows x 14 columns]

4. Preproceso la hora de la consulta de la siguiente forma:
    - 0-Mañana (6-12 hs),
    - 1-Media-Tarde (12-16 hs)
    - 2-Tarde (16-20 hs)
    - 3-Noche (20-00 hs)
    - 4-Madrugada (00-6 hs)

In [6]:
def convierte_horario(hora_consulta):
  from datetime import datetime
  # Convierto a hora
  hora = datetime.strptime(hora_consulta, '%H:%M:%S').time()
  return hora

def discretiza_horario(horario):
  if (horario.hour>=6 and horario.hour<12):
    rango_horario=0
  elif (horario.hour>=12 and horario.hour<16):
    rango_horario=1
  elif (horario.hour>=16 and horario.hour<20):
    rango_horario=2
  else:
    rango_horario=3 
  return rango_horario

#discretiza_horario(convierte_horario(df.loc[0, 'Hora']))
horario = df['hora'].apply(convierte_horario)
df['hora_discretizada'] = horario.apply(discretiza_horario)

In [7]:
df.drop(columns=['hora'], inplace=True)
df.head()

   legajo documento  ...  anio hora_discretizada
0  155651  35094675  ...  2018                 0
1  128969  27479473  ...  2018                 0
2  128969  27479473  ...  2018                 0
3  128969  27479473  ...  2018                 0
4  161669  42092717  ...  2018                 0

[5 rows x 14 columns]

5. Preproceso el legajo y el DNI:<br />
  Los separo en cuantiles asumiendo que los DNI mas bajos son personas mas grandes y los legajos mas grandes son estudiantes mas nuevos.

In [8]:
import numpy as np
 
def discretiza_atributo(atributo, intervalos=4):
  # Se discretiza según la cantidad de q definidos
  discretizado = pd.qcut(atributo, q=intervalos)
  
  # Nos quedamos con los diferentes intervalos, los ordenamos min-max
  lista_intervalos = discretizado.unique()

  lista_intervalos.sort_values(inplace=True)
  #  Lo casteamos a str
  lista_intervalos = lista_intervalos.astype(str)
  #  Casteamos el atributo a str
  discretizado = discretizado.astype(str)
  # Borro los nan porque los modifico a mano
  tiene_nan = False
  if ('nan' in lista_intervalos):
    tiene_nan = True
    np.delete(lista_intervalos, np.where(lista_intervalos == 'nan'))

  for i in range(intervalos):
    # Si existiera, quiero dejar el nan en el intervalo con etiqueta 0, por eso sumo 1 a i
    discretizado = discretizado.replace(lista_intervalos[i], i+1)
    discretizado = discretizado.replace('nan', 0)

  return discretizado

# Cambio a numericos los Documentos y los discretizo
df["documento"] = pd.to_numeric(df["documento"], errors='coerce')
df["dni_discretizado"] = discretiza_atributo(df["documento"], 8)

# Cambio a numericos los Legajos y los discretizo
df["legajo"] = pd.to_numeric(df["legajo"], errors='coerce')
df["legajo_discretizado"] = discretiza_atributo(df["legajo"], 4)

In [9]:
df["dni_discretizado"].value_counts()

5    402
2    402
4    401
1    400
8    400
7    399
3    397
6    397
0      2
Name: dni_discretizado, dtype: int64

In [10]:
df["legajo_discretizado"].value_counts()

0    856
3    586
1    586
4    586
2    586
Name: legajo_discretizado, dtype: int64

6. Genero una variable dummy con la existencia o no de Legajo y Teléfono:

In [11]:
# Tiene legajo?
def posee_valor(atributo):
  return 1-atributo.isna()
  
df['posee_legajo'] = posee_valor(df['legajo'])

In [12]:
df.drop(columns=['legajo', 'documento'], inplace=True)
df.head()

                               carrera  ... posee_legajo
0                 contador publico(54)  ...            1
1  profesorado en educacion fisica(43)  ...            1
2  profesorado en educacion fisica(43)  ...            1
3  profesorado en educacion fisica(43)  ...            1
4                 contador publico(54)  ...            1

[5 rows x 15 columns]

In [13]:
# Tiene teléfono? 
df['posee_telefono'] = posee_valor(df['telefono'])

In [14]:
df.drop(columns=['telefono'], inplace=True)
df.head()

                               carrera  ... posee_telefono
0                 contador publico(54)  ...              1
1  profesorado en educacion fisica(43)  ...              1
2  profesorado en educacion fisica(43)  ...              1
3  profesorado en educacion fisica(43)  ...              1
4                 contador publico(54)  ...              1

[5 rows x 15 columns]

7. Se extrae el código de Carrera:

In [15]:
def extrae_codigo_carrera(texto_carrera):
  codigo = 0
  if "sin carrera" not in texto_carrera:
    texto_carrera = texto_carrera.split('(')
    texto_carrera = texto_carrera[len(texto_carrera)-1].split(')')
    codigo = int(texto_carrera[0])
  return codigo

# extrae_codigo_carrera(df.loc[0, 'Carrera'])
df['carrera_valor'] = df['carrera'].apply(extrae_codigo_carrera)

In [16]:
df.drop(columns=['carrera'], inplace=True)
df.head()

                                               email  ... carrera_valor
0                                 aggdtj@hotmail.com  ...            54
1                         gaelifernandez@hotmail.com  ...            43
2  gaelifernandez@hotmail.com <mailto:gaelifernan...  ...            43
3  gaelifernandez@hotmail.com <mailto:gaelifernan...  ...            43
4                           vane_sole_99@hotmail.com  ...            54

[5 rows x 15 columns]

8. Se verifica el proveedor de correo electrónico:

In [17]:
def servicio_email(consulta, proveedor):  
  if consulta.lower().find(proveedor)==-1:
    return 0
  else:
    return 1
# Correo Gmail?
# df['correo_gmail'] = df['E-mail'].apply(servicio_email, proveedor='gmail')
# Correo yahoo?
# df['correo_yahoo'] = df['E-mail'].apply(servicio_email, proveedor='yahoo')
# Correo hotmail?
# df['correo_hotmail'] = df['E-mail'].apply(servicio_email, proveedor='hotmail')

def extrae_proveedor_correo(texto_correo):
    texto_correo = texto_correo.split('@')
    texto_correo = texto_correo[len(texto_correo)-1].split('.')
    proveedor_correo = texto_correo[0]
    return proveedor_correo

#extrae_proveedor_correo(df.loc[0, 'E-mail'])
df['proveedor_correo'] = df['email'].apply(extrae_proveedor_correo)

In [18]:
df['proveedor_correo'].value_counts()

hotmail                 1513
gmail                   1229
yahoo                    170
live                     116
outlook                  111
icloud                     5
gimail                     4
gmial                      4
chaltelcollege             4
speedy                     3
hotmaill                   2
msn                        2
mail                       2
hootmail                   2
gmil                       2
telefonica                 2
correoargentino            1
molinoargentino            1
bbva                       1
bagolf                     1
gmaili                     1
g                          1
hitmail                    1
gmal                       1
ciudad                     1
arnet                      1
qmail                      1
97hotmail                  1
homail                     1
e-mail                     1
fibertel                   1
htomail                    1
andreani                   1
gmx                        1
gamil                      1
outllok                    1
fangioconcesionarios       1
hormail                    1
edenor                     1
ymail                      1
hotmal                     1
gmai                       1
pilar                      1
saborigal                  1
telered                    1
Name: proveedor_correo, dtype: int64

In [19]:
# Limpio el campo proveedor_correo

df['proveedor_correo'].replace({"autloock": "outlook",
                                "outlool": "outlook",
                                "gamail": "gmail",
                                "gmal": "gmail",
                                "gmil": "gmail",
                                "hotmaill": "hotmail",
                                "luve": "live",
                                }, inplace=True)

# Se transforma proveedor_correo a numerico
from sklearn import preprocessing
le_correo = preprocessing.LabelEncoder()
df['proveedor_correo'] = le_correo.fit_transform(df['proveedor_correo'])

le_correo.classes_

array(['97hotmail', 'andreani', 'arnet', 'bagolf', 'bbva',
       'chaltelcollege', 'ciudad', 'correoargentino', 'e-mail', 'edenor',
       'fangioconcesionarios', 'fibertel', 'g', 'gamil', 'gimail', 'gmai',
       'gmail', 'gmaili', 'gmial', 'gmx', 'hitmail', 'homail', 'hootmail',
       'hormail', 'hotmail', 'hotmal', 'htomail', 'icloud', 'live',
       'mail', 'molinoargentino', 'msn', 'outllok', 'outlook', 'pilar',
       'qmail', 'saborigal', 'speedy', 'telefonica', 'telered', 'yahoo',
       'ymail'], dtype=object)

In [20]:
df.drop(columns=['email'], inplace=True)
df.head()

                                            consulta  ...  proveedor_correo
0  intento hacer el tramite para el boleto estudi...  ...                24
1  buen dia no puedo realizar el tramite del bole...  ...                24
2  buen dia no puedo realizar el tramite del bole...  ...                24
3  buen dia no puedo realizar el tramite del bole...  ...                24
4  buenos días, al realizar el tramite de boleto ...  ...                24

[5 rows x 15 columns]

## Features estáticas léxicas

Genero las features estáticas léxicas basadas en caracteres:

In [21]:
# Total number of characters
def cantidad_caracteres(columna_consulta):
  return columna_consulta.str.len()

df['cantidad_caracteres'] = cantidad_caracteres(df.consulta)

# Proporcion de mayúsculas en la consulta
def proporcion_mayusculas(consulta):
  return sum(1 for letra in consulta if letra.isupper())

df['proporcion_mayusculas'] = df['consulta'].apply(proporcion_mayusculas)/df['cantidad_caracteres']

# Proporción de letras en la consulta
def proporcion_letras(consulta):
  return sum(1 for letra in consulta if letra.isalpha())

df['proporcion_letras'] = df['consulta'].apply(proporcion_letras)/df['cantidad_caracteres']

# Cantidad de letras con tildes
def cantidad_tildes(consulta):
  return sum(1 for letra in consulta if letra.lower() in ['á', 'é', 'í', 'ó', 'ú'])

df['cantidad_tildes'] = df['consulta'].apply(cantidad_tildes)

Genero las features estáticas léxicas basadas en palabras:

In [22]:
# total number of words
def cantidad_palabras(consulta):
  palabras = consulta.split(sep=' ')
  return len(palabras)

df['cantidad_palabras'] = df['consulta'].apply(cantidad_palabras)

# proportion of short words (less than four characters)
def cantidad_palabras_cortas(consulta, letras_corta=4):
  palabras = consulta.split(sep=' ')
  return sum(1 for palabra in palabras if len(palabra) <= letras_corta)

df['cantidad_palabras_cortas'] = df['consulta'].apply(cantidad_palabras_cortas)

# ratio of number of distinct words to the total number of words: |set(words)|/|words|
def cantidad_palabras_distintas(consulta, letras_corta=4):
  palabras = consulta.split(sep=' ')
  return len(set(palabras))

df['proporcion_palabras_distintas'] = df['consulta'].apply(cantidad_palabras_distintas)/df['cantidad_palabras']
df['proporcion_palabras_distintas']

0       0.947368
1       1.000000
2       1.000000
3       1.000000
4       0.896552
          ...
3195    0.662791
3196    0.888889
3197    1.000000
3198    0.722222
3199    0.722222
Name: proporcion_palabras_distintas, Length: 3200, dtype: float64

Genero las features estáticas sintácticas:

In [23]:
# Frecuencia de signos de puntuación {,.¿?!:;’"}
def cantidad_signos_puntuacion(consulta):
  signos_puntuacion = [',', '.', '¿', '?', '!', '¡', ':', ';', '"']
  return sum(1 for letra in consulta if letra.lower() in signos_puntuacion)

df['frecuencia_signos_puntuacion'] = df['consulta'].apply(cantidad_signos_puntuacion)/df['cantidad_caracteres']

Genero las features estáticas estructurales:

In [24]:
# total number of sentences
def cantidad_oraciones(consulta):
  if consulta.count('.')==0:
    return 1
  else: 
    return consulta.count('.')

df['cantidad_oraciones'] = df['consulta'].apply(cantidad_oraciones)

# utiliza código de asignatura?
def utiliza_codigo_asignatura(consulta):
  codigo=0
  palabras = consulta.split(sep=' ')
  for palabra in palabras:
    if palabra.isdigit():
      if int(palabra)>=10000 and int(palabra)<=99999:
        codigo=1
  return codigo

df['utiliza_codigo_asignatura'] = df['consulta'].apply(utiliza_codigo_asignatura)

In [25]:
len(df.columns)

25

Por último, reordeno el score y la clase para que me quede última:

In [26]:
x = df['score']
y = df['clase']
df.drop(columns=['clase', 'score'], inplace=True)
df.insert(len(df.columns), "score", x, True)
df.insert(len(df.columns), "clase", y, True)

In [27]:
# Tomo una consulta determinada
df.loc[1, 'consulta']

# Verifico las columnas del Dataframe
df.head()

                                            consulta  ...                 clase
0  intento hacer el tramite para el boleto estudi...  ...  Boleto Universitario
1  buen dia no puedo realizar el tramite del bole...  ...  Boleto Universitario
2  buen dia no puedo realizar el tramite del bole...  ...  Boleto Universitario
3  buen dia no puedo realizar el tramite del bole...  ...  Boleto Universitario
4  buenos días, al realizar el tramite de boleto ...  ...  Boleto Universitario

[5 rows x 25 columns]

10. Guardo el csv procesado:

In [28]:
from google.colab import drive
drive.mount('drive')

file_save = f'dataset-{TECNICA}-{INSTANCIAS}-prep.csv' 
df.to_csv(file_save, index=False)

!cp $file_save "drive/My Drive/"

Drive already mounted at drive; to attempt to forcibly remount, call drive.mount("drive", force_remount=True).